In [6]:
import sys

# pandas读写csv文件
import pandas as pd
import numpy as np

path = '/Users/mingjue/downloads/'

df_train = pd.read_csv(path + 'data_format1/train_format1.csv')
df_test = pd.read_csv(path + 'data_format1/test_format1.csv')

In [9]:
df_train

        user_id  merchant_id  label
0         34176         3906      0
1         34176          121      0
2         34176         4356      1
3         34176         2217      0
4        230784         4818      0
...         ...          ...    ...
260859   359807         4325      0
260860   294527         3971      0
260861   294527          152      0
260862   294527         2537      0
260863   229247         4140      0

[260864 rows x 3 columns]